<div ng-app="contabilizeiApp" class="contabilizei-app">
    <h3>Cálculo de impostos</h3>
    <p>Selecione um cliente:</p>
    <div ng-controller="CalcularImpostosCtrl" class="controller-input-div">
        <div>
            <div>
                <div ng-repeat="(id,razaoSocial) in clientes">{{text}}</div>
                <label id="cliente.razaoSocial" for="cliente.razaoSocial">Cliente:</label>
                <select name="cliente.razaoSocial" ng-model="clienteId"
                        ng-options="cliente.id as cliente.razaoSocial for cliente in clientes"></select>
            </div>
            <div>
                <label for="mes">Mês:</label>
                <select id="mes" name="mes" ng-model="mes">
                    <option label="Janeiro" value="1">Janeiro</option>
                    <option label="Fevereiro" value="2">Fevereiro</option>
                    <option label="Março" value="3">Março</option>
                    <option label="Abril" value="4">Abril</option>
                    <option label="Maio" value="5">Maio</option>
                    <option label="Junho" value="6">Junho</option>
                    <option label="Julho" value="7">Julho</option>
                    <option label="Agosto" value="8">Agosto</option>
                    <option label="Setembro" value="9">Setembro</option>
                    <option label="Outubro" value="10">Outubro</option>
                    <option label="Novembro" value="11">Novembro</option>
                    <option label="Dezembro" value="12">Dezembro</option>
                </select>
            </div>
            <div>
                <label for="ano">Ano:</label>
                <select id="ano" name="ano" ng-model="ano">
                    <option label="2016" value="2016">2016</option>
                    <option label="2015" value="2015">2015</option>
                    <option label="2014" value="2014">2014</option>
                    <option label="2013" value="2013">2013</option>
                    <option label="2012" value="2012">2012</option>
                </select>
            </div>
        </div>

        <div class="submit-button">
            <button type="button" class="btn btn-default" ng-click="calcularImpostos(clienteId, mes, ano)">Calcular
                impostos
            </button>
        </div>

        <div ng-bind-html="mensagemErro" class="erro"></div>
        <div ng-bind-html="mensagemStatus" class="status"></div>

    </div>
</div>