<div ng-app="contabilizeiApp" class="contabilizei-app">
    <h3>Cadastro de notas fiscais</h3>
    <div ng-controller="CadastrarNotaFiscalCtrl" class="controller-input-div">

        <form name="cadastroNotaForm" ng-submit="cadastrarNotaFiscal(clienteId)" novalidate>

            <div class="form-group">
                <ng-form name="cadastroNotaForm">

                    <div>
                        <div ng-repeat="(id,razaoSocial) in clientes">{{text}}</div>
                        <label for="cliente.razaoSocial">Cliente:</label>
                        <select name="cliente.razaoSocial" id="cliente.razaoSocial" ng-model="clienteId"
                                ng-options="cliente.id as cliente.razaoSocial for cliente in clientes"></select>
                    </div>

                    <div>
                        <label>Anexo:</label>
                        <select name="anexo" ng-model="anexo">
                            <option label="Comércio" value="0">Comércio</option>
                            <option label="Indústria" value="1"></option>
                            <option label="Prestação de Serviços" value="2"></option>
                        </select>
                    </div>

                    <label for="numero">Número</label>
                    <input type="number" class="form-control" name="numero" id="numero" ng-model="numero" required>

                    <label>Data Emissão</label>
                    <input type="date" class="form-control" name="dataEmissao" ng-model="dataEmissao" required>

                    <label>Valor</label>
                    <input type="number" class="form-control" name="valor" ng-model="valor" required>

                    <label>Descrição</label>
                    <input type="text" class="form-control" name="descricao" ng-model="descricao" required>

                </ng-form>
            </div>

            <div class="submit-button">
                <button type="submit" class="btn btn-default">Cadastrar</button>
            </div>

            <div ng-bind-html="mensagemStatus" class="status"></div>
            <div ng-bind-html="mensagemErro" class="erro"></div>

        </form>
    </div>
</div>